<h2>注文履歴詳細</h2>

<div>
    <table class="container">
        <tbody>
            <tr class="row">
                <td class="col-4">購入者</td>
                <td class="col-8"><p><%= @order.customer.last_name + @order.customer.first_name %></p></td>
            </tr>
            <tr class="row">
                <td class="col-4">注文日</td>
                <td class="col-8"><p><%= @order.created_at %></p></td>
            </tr>
            <tr class="row">
                <td class="col-4">配送先</td>
                <td class="col-8"><p><%= @order.postal_code + "" + @order.address + "" + @order.name %></p></td>
            </tr>
            <tr class="row">
                <td class="col-4"></td>
                <td class="col-8"><p><%= @order.name %></p></td>
            </tr>
            <tr class="row">
                <td class="col-4">支払方法</td>
                <td class="col-8">
                    <% if @order.payment_method == "0" %>
                        <p><%= Order.payment_methods_i18n[:credit_card] %></p>
                    <% else %>
                        <p><%= Order.payment_methods_i18n[:transfer] %></p>
                    <% end %>
                </td>
            </tr>
            <tr class="row">
                <td class="col-4">注文ステータス</td>
                <td class="col-8"><p></p></td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <table class="container">
        <thead>
            <tr class="row">
                <th class="col-3">商品名</th>
                <th class="col-2">単価（税込）</th>
                <th class="col-2">数量</th>
                <th class="col-2">小計</th>
                <th class="col-3">製作ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @order_details.each do |order_detail| %>
            <tr class="row">
                <td class="col-3">
                    <p><%= order_detail.item.name %></p>
                </td>
                <td class="col-2">
                    <p><%= order_detail.total_price.to_i * 1.1 %></p>
                </td>
                <td class="col-2">
                    <p><%= order_detail.amount %></p>
                </td>
                <td class="col-2">
                    <p><%= order_detail.total_price %></p>
                </td>
                <td class="col-3">
                    <p><%= order.status_now %></p>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>