<h2>注文履歴詳細</h2>
<div>
    <%= form_with model:  %>
    <table class="container">
        <tbody>
            <tr class="row">
                <td class="col-4"><p>購入者</p></td><td class="col-8"><p><%=  %></p></td>
                <td class="col-4"><p>購入者</p></td><td class="col-8"><p><%=  %></p></td>
                <td class="col-4"><p>購入者</p></td><td class="col-8"><p><%=  %></p></td>
                <td class="col-4"><p>購入者</p></td><td class="col-8"><p><%=  %></p></td>
                <td class="col-4"><p>購入者</p></td><td class="col-8"><p><%=  %></p></td>
            </tr>
        </tbody>
    </table>
</div>