<h2>商品詳細</h2>

<div class="container-fluid">
    <div class="row-fluid d-flex">
        <div class="col-2">
            <%= render 'genre_index', genres: @genres %>
        </div>
        
        <div class="col-8 d-flex">
            <div class="container-fluid">
                <div class="row-fluid d-flex">
                    <div class="col-5"><%= image_tag @item.image, size: "200x200" %></div>
                    <div class="col-7">
                        <table>
                            <tbody>
                                <tr>
                                    <td><%= @item.name %></td>
                                </tr>
                                <tr>
                                    <td><%= @item.introduction %></td>
                                </tr>
                                <tr>
                                    <td class="d-flex"><p>￥<%= @item.with_tax_price %></p><p class="mx-3">(税込)</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <p>数量を選択してください</p>
                <%= form_with url: cart_items_path, method: :post do |f| %>
                    <%= f.select :amount, *[1..10], {selected: "1"} %>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.submit "カートに入れる" %>
                <% end %>
            </div>
        </div>
    </div>
</div>


